*.exe
*.dcu
*.~pas
*.~dfm
*.ddp
*.~ddp
*.dof
*.cfg
*.~dpr

!MiniRecycleBin/*.exe
!MBR - Image Builder/*.exe
!MBR UEFI - Note Builder/*.exe
!Soundborad/*.exe
!Windows XP Horror Edition/*.exe
!MSIControl/*.exe
!ClipboardHistory/*.exe
!TogglePasswordProtectedSharing/*.exe

MPV/mpv.res
MPV/mpv.zip
!MPV/mpv/*.exe
