*.exe
*.dcu
*.~pas
*.~dfm
*.ddp
*.~ddp
*.dof
*.cfg
*.~dpr

!AutoStart/*.exe
!MiniRecycleBin/*.exe
!DriveRescue/*.exe
!MBR UEFI - Image Builder/*.exe
!MBR UEFI - Note Builder/*.exe
!Soundborad/*.exe
!Windows XP Horror Edition/*.exe
!MSIControl/*.exe
!ClipboardHistory/*.exe
!TogglePasswordProtectedSharing/*.exe
!MPV/*.exe

MSIControl/**/*.dll
MPV/mpv.res
MPV/mpv.zip
!MPV/*/*.exe

!**/UEFI Backend/**/*.exe